/* RESPONSIVE */

@media (max-width: 992px) {
    body {
        background-color: var(--noir);
    }
    #responsive {
        display: block;
        height: 100vh;
        width: 100vw;
        #imgProvisoire {
            display: flex;
            justify-content: center;
            margin-top: 20vh;
            img {
                width: 70%;
            }
        }
    }
    /* Le portrait disparaît */
    .portraitLisonHover {
        display: none;
    }
    /* .texteFormationHover {
        display: block;
    } */
    /* .rubriqueAProposDev,
    .rubriqueAProposContact,
    .rubriqueAProposArt {
        display: block;
    } */
    #formation,
    #competences,
    #portfolioWebDev,
    #portfolioArtistique,
    #aPropos {
        display: none;
    }

    /* Les liens  */
    #lienArtResponsive {
        img {
            position: fixed;
        }
        display: block;
        position: fixed;
    }
}
