@use "fonts.scss";

/* RESPONSIVE */

@import "responsive.scss";

/* ---------------------- */


/* VARIABLES COULEURS 
   
   @use "variables.scss";
   ---------------------- */


/*  ex --body-font-color:antiquewhite;
   S'appelle comme ça:
 --focus-color: var(--accent-color); */


/* SYMBOLES */


/* VARIABLES */

 :root {
    --beige: #FFF6EF;
    --grisFonce: #8B8B8B;
    --blanc: #ededed;
    --blancPur: white;
    --noir: black;
    --rose: violet;
}


/* ---------------------- */


/* #################################### GLOBAL #################################### */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "montserrat";
    overflow-x: hidden;
    overflow-y: hidden;
    & a:link,
    a:visited {
        color: var(--rose);
        text-decoration: none;
    }
}

.displayNone {
    display: none;
}


/* Positions */

.relative {
    position: relative;
}

.margin-auto {
    margin: auto;
}


/* Flèches de retour en arrière */

.retour {
    display: flex;
    flex-direction: column;
}

.align-self-center {
    align-self: center;
}

.fleche-size {
    font-size: 60px;
}

.fleche {
    position: absolute;
    bottom: 30px;
}


/* FLOAT */

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-direction-column {
    flex-direction: column;
}

.space-around {
    justify-content: space-around;
}


/* Centrer une image */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.align-self {
    align-self: center;
}


/* Texte */


/* Les Flèches de retour en arrière */

.fleche {
    font-size: 60px;
    &.bas {
        color: var(--noir);
    }
}

.haut {
    color: var(--noir);
}

.texte-fleche {
    width: 100px;
    position: absolute;
    bottom: -18px;
}

#aPropos,
#formation,
#competences,
#portfolioWebDev,
#portfolioArtistique {
    height: 100vh;
    width: 100%;
    z-index: -10;
}


/* #################################### PORTFOLIO ARTISTIQUE #################################### */

#portfolioArtistique {
    background-color: var(--beige);
    color: rgb(226, 226, 226);
}


/* BLOC CONTACT */


/* Les icones du bloc contact */

#icones {
    margin-right: 27px;
}

#blocContactPortfolioArtistique {
    background-color: var(--noir);
    width: 445px;
    height: 100%;
    margin-left: 50px;
    overflow-y: clip;
    font-size: 14px;
    i {
        font-size: 25px;
        padding-top: 25px;
    }
    #icones {
        margin-right: 27px;
    }
    a {
        &:hover {
            color: var(--blancPur);
        }
    }
    aside p {
        padding-bottom: 10px;
    }
    #recompensesDiv {
        justify-content: flex-start;
        h2 {
            padding-left: 14px;
            padding-top: 8px;
        }
    }
}

.image-contact-portfolio-artistique {
    width: 100%;
}

#recompenses span {
    font-family: "montserratItalic";
}


/* Padding sur le contenu du bloc noir Contact */

.contenantCarteContactPortfolioArtistique {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}


/* CANVAS */


/* #canvasPosition {
    margin: auto;
    width: 70%;
    height: 80%;
    margin-left: 30px;
    margin-right: 30px;
}

#canvasLigneTemps {
    width: 100%;
    height: 100%;
}
 */


/* Ligne du temps */

#ligneTempsContainer {
    margin: auto;
    width: 70vw;
    height: 40vw;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10%;
    color: var(--noir);
    img {
        width: 135px;
    }
    p {
        text-align: center;
    }
}

#blocDeesseRequin,
#blocSirenesMasculines,
#blocPlantesOctobre,
#blocCreaturesObscures,
#blocBienMonsieur,
#blocWBDM,
#blocAbecedaire,
#blocFanart {
    position: absolute;
}

#blocSirenesMasculines {
    top: -116px;
}

.blocVerticalGauche {
    width: 1px;
    height: 500px;
    background-color: var(--noir);
}

.blocVerticalDroit {
    width: 1px;
    height: 400px;
    background-color: var(--noir);
}

.blocHorizontalHaut {
    height: 1px;
    width: 100%;
    background-color: var(--noir);
}

.blocHorizontalBas {
    position: relative;
    height: 1px;
    width: 100%;
    background-color: var(--noir);
}

.flecheLigneTemps {
    position: absolute;
    top: -10px;
    right: 0;
    color: var(--noir)
}

#blocDeesseRequin {
    top: 135px;
    left: -55px;
}

#blocPlantesOctobre {
    top: -65px;
}

#blocCreaturesObscures {
    top: -132px;
}

#blocBienMonsieur {
    right: -69px;
    top: 80px;
}

#blocWBDM {
    top: -169px;
}

#blocAbecedaire {
    top: -147px;
}

#blocFanart {
    top: -159px;
    right: -75px;
    &:hover {
        border-radius: 5%;
        -webkit-box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.55);
        box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.55);
    }
}


/* //TODO ? pourquoi un hover ici ? */

#blocFanart:hover #ligneTempsContainer span.bold {
    font-family: "montserratBold";
    font-size: 13px;
}

#ligneTempsContainer span.italic {
    font-family: "montserratItalic";
    font-size: 12px;
}


/* #################################### A PROPOS #################################### */


/* Le float pour faire flotter les blocs "à propos" et "formation" //


/* Attention: on met en position "absolute" une des deux section ("formation") pour qu'elle disparaisse de l'écran. Je ne sais pas si c'est la bonne méthode... Je crois que ce n'est pas "absolute" la propriété. */

#aPropos {
    /* background: rgb(255, 246, 239);
       background: linear-gradient(180deg, rgba(255, 246, 239, 1) 0%, rgba(255, 255, 255, 1) 29%); */
    background-image: url("../images/fond/fond_aPropos.jpg");
    background-position: center;
}

.rubriqueAPropos {
    width: 200px;
}

.portraitLison {
    height: 80vh;
    position: relative;
    right: -50px;
}

.signatureLison {
    position: absolute;
    top: 143%;
    left: 50%;
    /* This is a shorthand of translateX(-50%) and translateY(-50%) and translate() function with the (negative) value of -50% moves the element by the half of its size. Hence the element will be positioned at the middle. https://stackoverflow.com/questions/8508275/how-to-center-a-position-absolute-element */
    transform: translate(-50%, -50%);
}


/* Hover sur l'image qui fait apparaître le texte "Formation" */

.texteFormationHover {
    display: none;
}

.portraitLisonHover:hover .texteFormationHover {
    display: block;
    position: absolute;
    top: 160vh;
    right: 160px;
}

.rubriqueAProposArt {
    position: absolute;
    left: 45vw;
    cursor: pointer;
}

.rubriqueAProposDev {
    width: 250px;
    position: absolute;
    left: 45vw;
    top: 175vh;
}


/* CARTE CONTACT */

.carteContact {
    /* test avec le js */
    display: none;
    background-color: black;
    color: rgb(226, 226, 226);
    width: 330px;
    height: 75vh;
    position: fixed;
    top: 0;
    left: 10vw;
    z-index: 1;
    /* L'ombre du bloc: */
    box-shadow: -1px 27px 38px -2px rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: -1px 27px 38px -2px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: -1px 27px 38px -2px rgba(0, 0, 0, 0.61);
    i,
    .croix {
        font-size: 30px;
        padding-bottom: 15px;
    }
    .croix {
        position: absolute;
        top: 10px;
        right: 26px;
    }
}

#btnContact,
.croix {
    cursor: pointer;
}

.image-contact {
    width: 338px;
    position: absolute;
    bottom: 0;
}

.contact-padding {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}


/* #################################### FORMATION #################################### */


/* Juste pour voir la partie formation */

#formation {
    background-image: url("../images/fond/fond_comp_form.jpg");
    background-position: center;
    position: absolute;
    /* Pour faire l'ancrage qui swipe à droite <3 */
    top: 100vh;
    left: 200vw;
    z-index: 10;
}


/* #################################### COMPETENCES #################################### */

#competences {
    background-image: url("../images/fond/fond_comp_form.jpg");
    background-position: center;
}


/* Flèche retour vers A Propos */

#divFleche-retour-competences-aPropos {
    .texte-fleche-retour-competences {
        width: 100px;
        position: absolute;
        top: 200vh;
    }
    .fleche-retour-competences {
        position: absolute;
        top: 205vh;
    }
}

#grandBlocCompetences {
    height: 60vh;
}

#grandBlocCompetencesPlusTitre {
    margin-top: 116px;
}

#blocContactCompetences {
    background-color: var(--noir);
    width: 290px;
    margin-left: 50px;
    overflow-y: clip;
    font-size: 14px;
    /* Position relative pour mettre l'image de la frise des poissons en bas avec la position absolute */
    position: relative;
    i {
        font-size: 25px;
        padding-top: 25px;
        color: var(--blanc);
    }
    /* Images frise poissons */
    #imageBlocContactCompetences {
        position: absolute;
        bottom: 0;
    }
    #blocContactCompetencesContenu {
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
    aside {
        color: var(--blanc);
        span {
            padding-left: 10px;
        }
    }
}

#blocBackEnd {
    color: var(--blanc);
    background-color: var(--noir);
    cursor: pointer;
    width: 230px;
    height: 100%;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    #iconesBackEnd,
    #texteBackEnd {
        display: none;
    }
    h3 {
        padding-bottom: 50px;
    }
    #iconesBackEnd {
        padding-bottom: 35px;
    }
    &:hover {
        background-color: var(--grisFonce);
        #iconesBackEnd,
        #texteBackEnd {
            display: block;
        }
    }
}

#blocFrontEnd {
    color: var(--noir);
    background-color: var(--blanc);
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    width: 500px;
    height: 50%;
    #iconesFrontEnd,
    #texteFrontEnd {
        display: none;
    }
    &:hover {
        background-color: var(--beige);
        #iconesFrontEnd,
        #texteFrontEnd {
            display: block;
        }
    }
}

#blocDesign_outils {
    height: 50%;
}

#blocDesign {
    color: var(--noir);
    background-color: var(--beige);
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    height: 100%;
    width: 250px;
    #iconesDesign,
    #texteDesign {
        display: none;
    }
    &:hover {
        color: var(--noir);
        background-color: var(--blanc);
        #iconesDesign,
        #texteDesign {
            display: flex;
        }
    }
}

#blocOutils {
    color: var(--blanc);
    background-color: var(--grisFonce);
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    height: 100%;
    width: 250px;
    #iconesOutils,
    #texteOutils {
        display: none;
    }
    &:hover {
        background-color: var(--noir);
        #iconesOutils,
        #texteOutils {
            display: flex;
        }
    }
}

.image-contact-portfolio-artistique {
    width: 100%;
}


/* Flèche vers Portfolio Web */

.texte-fleche-competences-portfolioWeb {
    width: 130px;
    position: relative;
    top: 22px;
}


/* #################################### PORTFOLIO WEBDEV #################################### */

#portfolioWebDev {
    background-color: black;
    color: rgb(226, 226, 226);
}


/* Flèche retour à propos */

#divFleche-retour-portfolio-aPropos {
    .texte-fleche-retour-portfolio {
        width: 100px;
        position: absolute;
        top: 300vh;
    }
    .fleche-retour-portfolio {
        position: absolute;
        top: 305vh;
    }
    .blanc {
        color: var(--blanc);
    }
}


/* Menu Portfolio */

#menuPortfolio {
    border: 1px solid var(--blanc);
    height: 90vh;
    width: 290px;
    margin-left: 50px;
    #caseVide {
        height: 60px;
    }
    button {
        border: 1px solid var(--blanc);
        color: var(--blanc);
        background-color: inherit;
        text-align: left;
        padding: 15px 32px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        width: 100%;
        &:hover {
            background-color: var(--blanc);
            color: var(--noir);
        }
    }
    #html:hover.html {
        background-color: var(--blanc);
    }
    #imageMenuPortfolio {
        width: 100%;
    }
}

#grandBlocPortfolio {
    margin: auto;
    h1 {
        text-align: left;
    }
    #blocPortfolio {
        /* border: 1px solid var(--blanc); */
        width: 100%;
        height: 60vh;
        h2 {
            font-size: 16px;
        }
        .border {
            border: 1px solid var(--blanc);
        }
        .blocHomeSafe {
            height: 50%;
            width: 300px;
        }
        .blocHackaton {
            height: 60%;
            width: 300px;
        }
        .blocGithub {
            height: 40%;
            width: 300px;
        }
        .blocProjetFinal {
            width: 250px;
        }
    }
}


/*# sourceMappingURL=style.css.map */