/* POLICES DE CARACTERES */

@font-face {
    /* montserrat */
    font-family: 'montserrat';
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    /* montserrat bold */
    font-family: 'montserratBold';
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
    /* montserrat italic */
    font-family: 'montserratItalic';
    src: url('../fonts/montserrat/Montserrat-Italic.ttf');
}

@font-face {
    /* roboto */
    font-family: 'roboto';
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
    /* roboto bold */
    font-family: 'robotoBold';
    src: url('../fonts/roboto/Roboto-Bold.ttf');
}

@font-face {
    /* roboto italic */
    font-family: 'robotoItalic';
    src: url('../fonts/roboto/Roboto-Italic.ttf');
}


/* ---------------------- */


/* TODO créer des variables pour les couleurs ! 

ex --body-font-color:antiquewhite; 
S'appelle comme ça:
--focus-color: var(--accent-color); */


/* #################################### GLOBAL #################################### */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

section #aPropos,
#formation,
#competences,
#portfolioWebDev,
#portfolioArtistique {
    height: 100vh;
    width: 100%;
    z-index: -10;
}

#carteContact {
    background-color: black;
    color: rgb(226, 226, 226);
    width: 10vh;
}


/* #################################### PORTFOLIO ARTISTIQUE #################################### */


/* #################################### A PROPOS #################################### */

.portraitLison {
    width: 69vh;
    position: relative;
    right: -76px;
    bottom: -58px;
}


/* #################################### FORMATION #################################### */


/* #################################### COMPETENCES #################################### */

#portfolioWebDev {
    background-color: black;
    color: rgb(226, 226, 226);
}


/* #################################### PORTFOLIO WEBDEV #################################### */

#competences {
    background-image: url("");
}