@charset "UTF-8";
/* POLICES DE CARACTERES */
@font-face {
  /* montserrat */
  font-family: "montserrat";
  src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}
@font-face {
  /* montserrat bold */
  font-family: "montserratBold";
  src: url("../fonts/montserrat/Montserrat-Bold.ttf");
}
@font-face {
  /* montserrat italic */
  font-family: "montserratItalic";
  src: url("../fonts/montserrat/Montserrat-Italic.ttf");
}
@font-face {
  /* roboto */
  font-family: "roboto";
  src: url("../fonts/roboto/Roboto-Regular.ttf");
}
@font-face {
  /* roboto bold */
  font-family: "robotoBold";
  src: url("../fonts/roboto/Roboto-Bold.ttf");
}
@font-face {
  /* roboto italic */
  font-family: "robotoItalic";
  src: url("../fonts/roboto/Roboto-Italic.ttf");
}
/* RESPONSIVE */
/* RESPONSIVE */
@media (max-width: 992px) {
  /* Le portrait disparaît */
  .portraitLisonHover {
    display: none;
  }

  .texteFormationHover {
    display: block;
  }

  /* .rubriqueAProposDev,
  .rubriqueAProposContact,
  .rubriqueAProposArt {
      display: block;
  } */
  #formation,
#competences,
#portfolioWebDev,
#portfolioArtistique {
    display: none;
  }

  /* Les liens  */
  #lienArtResponsive {
    display: block;
    position: fixed;
  }
  #lienArtResponsive img {
    position: fixed;
  }
}
/* ---------------------- */
/* VARIABLES COULEURS 

   @use "variables.scss";
   ---------------------- */
/*  ex --body-font-color:antiquewhite;
   S'appelle comme ça:
 --focus-color: var(--accent-color); */
/* SYMBOLES */
/* VARIABLES */
:root {
  --beige: #fff6ef;
  --grisFonce: #8b8b8b;
  --blanc: #ededed;
  --blancPur: white;
  --noir: black;
  --rose: violet;
}

/* ---------------------- */
/* #################################### GLOBAL #################################### */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "montserrat";
  overflow-x: hidden;
  overflow-y: hidden;
}
body a:link,
body a:visited {
  color: var(--rose);
  text-decoration: none;
}

.displayNone {
  display: none;
}

/* Positions */
.relative {
  position: relative;
}

.margin-auto {
  margin: auto;
}

/* Flèches de retour en arrière */
.retour {
  display: flex;
  flex-direction: column;
}

.align-self-center {
  align-self: center;
}

.fleche-size {
  font-size: 60px;
}

.fleche {
  position: absolute;
  bottom: 30px;
}

/* FLOAT */
.flex {
  display: flex;
  justify-content: space-between;
}

.flex-direction-column {
  flex-direction: column;
}

.space-around {
  justify-content: space-around;
}

/* Centrer une image */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.align-self {
  align-self: center;
}

/* Texte */
/* Les Flèches de retour en arrière */
.fleche {
  font-size: 60px;
}
.fleche.bas {
  color: var(--noir);
}
.fleche.blanc {
  color: var(--blanc);
}

.haut {
  color: var(--noir);
}

.texte-fleche {
  width: 100px;
  position: absolute;
  bottom: -18px;
}

#aPropos,
#formation,
#competences,
#portfolioWebDev,
#portfolioArtistique {
  height: 100vh;
  width: 100%;
  z-index: -10;
}

/* #################################### PORTFOLIO ARTISTIQUE #################################### */
#portfolioArtistique {
  background-color: var(--beige);
  color: #e2e2e2;
}

/* BLOC CONTACT */
/* Les icones du bloc contact */
#icones {
  margin-right: 27px;
}

#blocContactPortfolioArtistique {
  background-color: var(--noir);
  width: 445px;
  height: 100%;
  margin-left: 50px;
  overflow-y: clip;
  font-size: 14px;
}
#blocContactPortfolioArtistique i {
  font-size: 25px;
  padding-top: 25px;
}
#blocContactPortfolioArtistique #icones {
  margin-right: 27px;
}
#blocContactPortfolioArtistique a:hover {
  color: var(--blancPur);
}
#blocContactPortfolioArtistique aside p {
  padding-bottom: 10px;
}
#blocContactPortfolioArtistique #recompensesDiv {
  justify-content: flex-start;
}
#blocContactPortfolioArtistique #recompensesDiv h2 {
  padding-left: 14px;
  padding-top: 8px;
}

.image-contact-portfolio-artistique {
  width: 100%;
}

#recompenses span {
  font-family: "montserratItalic";
}

/* Padding sur le contenu du bloc noir Contact */
.contenantCarteContactPortfolioArtistique {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

/* CANVAS */
/* #canvasPosition {
    margin: auto;
    width: 70%;
    height: 80%;
    margin-left: 30px;
    margin-right: 30px;
}

#canvasLigneTemps {
    width: 100%;
    height: 100%;
}
 */
/* Ligne du temps */
#ligneTempsContainer {
  margin: auto;
  width: 70vw;
  height: 40vw;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10%;
  color: var(--noir);
}
#ligneTempsContainer img {
  width: 135px;
}
#ligneTempsContainer p {
  text-align: center;
}

#blocDeesseRequin,
#blocSirenesMasculines,
#blocPlantesOctobre,
#blocCreaturesObscures,
#blocBienMonsieur,
#blocWBDM,
#blocAbecedaire,
#blocFanart {
  position: absolute;
}

#blocSirenesMasculines {
  top: -116px;
}

.blocVerticalGauche {
  width: 1px;
  height: 500px;
  background-color: var(--noir);
}

.blocVerticalDroit {
  width: 1px;
  height: 400px;
  background-color: var(--noir);
}

.blocHorizontalHaut {
  height: 1px;
  width: 100%;
  background-color: var(--noir);
}

.blocHorizontalBas {
  position: relative;
  height: 1px;
  width: 100%;
  background-color: var(--noir);
}

.flecheLigneTemps {
  position: absolute;
  top: -10px;
  right: 0;
  color: var(--noir);
}

#blocDeesseRequin {
  top: 135px;
  left: -55px;
}

#blocPlantesOctobre {
  top: -65px;
}

#blocCreaturesObscures {
  top: -132px;
}

#blocBienMonsieur {
  right: -69px;
  top: 80px;
}

#blocWBDM {
  top: -169px;
}

#blocAbecedaire {
  top: -147px;
}

#blocFanart {
  top: -159px;
  right: -75px;
}
#blocFanart:hover {
  border-radius: 5%;
  box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.55);
}

/* //TODO ? pourquoi un hover ici ? */
#blocFanart:hover #ligneTempsContainer span.bold {
  font-family: "montserratBold";
  font-size: 13px;
}

#ligneTempsContainer span.italic {
  font-family: "montserratItalic";
  font-size: 12px;
}

/* #################################### A PROPOS #################################### */
/* Le float pour faire flotter les blocs "à propos" et "formation" //


/* Attention: on met en position "absolute" une des deux section ("formation") pour qu'elle disparaisse de l'écran. Je ne sais pas si c'est la bonne méthode... Je crois que ce n'est pas "absolute" la propriété. */
#aPropos {
  /* background: rgb(255, 246, 239);
     background: linear-gradient(180deg, rgba(255, 246, 239, 1) 0%, rgba(255, 255, 255, 1) 29%); */
  background-image: url("../images/fond/fond_aPropos.jpg");
  background-position: center;
}

.rubriqueAPropos {
  width: 200px;
}

.portraitLison {
  height: 80vh;
  position: relative;
  right: 0;
  top: 7vh;
}

.signatureLison {
  position: absolute;
  top: 143%;
  left: 50%;
  /* This is a shorthand of translateX(-50%) and translateY(-50%) and translate() function with the (negative) value of -50% moves the element by the half of its size. Hence the element will be positioned at the middle. https://stackoverflow.com/questions/8508275/how-to-center-a-position-absolute-element */
  transform: translate(-50%, -50%);
}

/* Hover sur l'image qui fait apparaître le texte "Formation" */
.texteFormationHover {
  display: none;
}

.portraitLisonHover:hover .texteFormationHover {
  display: block;
  position: absolute;
  top: 160vh;
  right: 160px;
}

.rubriqueAProposArt {
  position: absolute;
  left: 45vw;
  cursor: pointer;
}

.rubriqueAProposDev {
  width: 250px;
  position: absolute;
  left: 45vw;
  top: 175vh;
}

/* CARTE CONTACT */
.carteContact {
  display: none;
  background-color: black;
  color: #e2e2e2;
  width: 330px;
  height: 75vh;
  position: fixed;
  top: 0;
  left: 10vw;
  z-index: 1;
  /* L'ombre du bloc: */
  box-shadow: -1px 27px 38px -2px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: -1px 27px 38px -2px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: -1px 27px 38px -2px rgba(0, 0, 0, 0.61);
}
.carteContact .croix {
  font-size: 30px;
  padding-bottom: 15px;
  position: absolute;
  right: 41px;
  top: 20px;
}
.carteContact #contenuCarteContact {
  justify-content: center;
}
.carteContact #contenuCarteContact #iconesReseaux {
  margin-right: 27px;
}
.carteContact #contenuCarteContact #iconesReseaux i {
  padding-top: 25px;
}
.carteContact #contenuCarteContact i {
  font-size: 25px;
  color: var(--blanc);
}
.carteContact #contenuCarteContact i.croix {
  position: absolute;
  top: 10px;
  right: 26px;
}
.carteContact #contenuCarteContact .texteCarteContact {
  padding-top: 25px;
}
.carteContact #contenuCarteContact .texteCarteContact .cv-download {
  padding-top: 10px;
}
.carteContact #contenuCarteContact .texteCarteContact p:first-child {
  font-weight: bold;
  text-decoration: underline;
}

#btnContact,
.croix {
  cursor: pointer;
}

.image-contact {
  width: 333px;
  position: absolute;
  bottom: 0;
}

.contact-padding {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

/* #################################### FORMATION #################################### */
/* Juste pour voir la partie formation */
#formation {
  /* background-image: url("../images/fond/fond_comp_form.jpg"); */
  background-color: var(--noir);
  background-position: center;
  position: absolute;
  /* Pour faire l'ancrage qui swipe à droite <3 */
  top: 100vh;
  left: 200vw;
  z-index: 10;
  /* //TODO J'arrive pas à cibler ni la flèche, ni l'image, très bizarre */
}
#formation #flecheRetourFormation div.fleche {
  position: absolute;
  top: 50vh;
  left: 30px;
}
#formation #flecheRetourFormation img {
  top: 43vh;
  left: 10px;
  width: 100px;
  position: absolute;
}
#formation #gros-bloc-formation {
  width: 80vw;
  height: 80vh;
  margin: auto;
  padding-top: 5vh;
}
#formation #gros-bloc-formation span.souligne {
  text-decoration: underline;
}
#formation #gros-bloc-formation a:link {
  text-decoration: none;
}
#formation #gros-bloc-formation .bloc-50 {
  width: 50%;
}
#formation #gros-bloc-formation .bloc-50 h1.titreBloc {
  color: var(--blanc);
  padding-bottom: 20px;
}
#formation #gros-bloc-formation .bloc-blanc {
  background-color: var(--blanc);
  color: var(--noir);
  height: 50%;
  padding: 30px;
  overflow: hidden;
  /* div.padding-30 {
      padding-left: 30px;
      padding-right: 30px;

      &:first-child {
          padding-top: 30px;
      }
      &:last-child {
          padding-bottom: 30px;
      }
  } */
}
#formation #gros-bloc-formation .bloc-beige {
  background-color: var(--beige);
  color: var(--noir);
  height: 50%;
  padding: 30px;
  overflow: hidden;
  /*  div.padding-30 {
      padding-left: 30px;
      padding-right: 30px;
      &:first-child {
          padding-top: 30px;
      }
      &:last-child {
          padding-bottom: 30px;
      }
  } */
}
#formation #gros-bloc-formation .bloc-noir {
  background-color: var(--noir);
  color: var(--blanc);
  height: 50%;
  padding: 30px;
  overflow: hidden;
  border: 1px solid white;
  /*  div.padding-30 {
      padding-left: 30px;
      padding-right: 30px;
      &:first-child {
          padding-top: 30px;
      }
      &:last-child {
          padding-bottom: 30px;
      }
  } */
}
#formation #gros-bloc-formation div.border {
  border: 1px solid var(--blanc);
}
#formation #gros-bloc-formation h1 {
  margin: 0;
}
#formation #gros-bloc-formation h1.souligne {
  text-decoration: underline;
  font-size: 16px;
}
#formation #gros-bloc-formation p {
  font-size: 14px;
}
#formation #gros-bloc-formation p.date-formation {
  font-style: italic;
}
#formation #gros-bloc-formation .logo-formation {
  width: 50px;
}
#formation #gros-bloc-formation .cv-download {
  position: absolute;
  right: 0;
}
#formation #gros-bloc-formation .cv-download a:link {
  color: var(--blanc);
}
#formation #gros-bloc-formation .relative {
  position: relative;
}

/* #################################### COMPETENCES #################################### */
#competences {
  background-image: url("../images/fond/fond_comp_form.jpg");
  background-position: center;
}

/* Flèche retour vers A Propos */
#divFleche-retour-competences-aPropos .texte-fleche-retour-competences {
  width: 100px;
  position: absolute;
  top: 200vh;
}
#divFleche-retour-competences-aPropos .fleche-retour-competences {
  position: absolute;
  top: 205vh;
}

#grandBlocCompetences {
  height: 60vh;
  border: 1px solid;
}

#grandBlocCompetencesPlusTitre {
  margin-top: 116px;
}

#blocContactCompetences {
  background-color: var(--noir);
  width: 290px;
  margin-left: 50px;
  overflow-y: clip;
  font-size: 14px;
  /* Position relative pour mettre l'image de la frise des poissons en bas avec la position absolute */
  position: relative;
  /* Images frise poissons */
}
#blocContactCompetences i {
  font-size: 25px;
  padding-top: 25px;
  color: var(--blanc);
}
#blocContactCompetences #imageBlocContactCompetences {
  position: absolute;
  bottom: 0;
}
#blocContactCompetences #blocContactCompetencesContenu {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
#blocContactCompetences aside {
  color: var(--blanc);
}
#blocContactCompetences aside span {
  padding-left: 10px;
}

#blocBackEnd {
  color: var(--noir);
  border: 1px solid;
  background-color: var(--blanc);
  transition: 0.3s;
  cursor: pointer;
  width: 230px;
  height: 100%;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
#blocBackEnd #iconesBackEnd,
#blocBackEnd #texteBackEnd {
  display: none;
}
#blocBackEnd h3 {
  padding-bottom: 50px;
}
#blocBackEnd #iconesBackEnd {
  padding-bottom: 35px;
}
#blocBackEnd:hover {
  background-color: var(--noir);
  color: var(--blanc);
}
#blocBackEnd:hover #iconesBackEnd,
#blocBackEnd:hover #texteBackEnd {
  display: block;
}
#blocBackEnd:hover #iconesBackEnd i {
  font-size: 25px;
  padding-bottom: 5px;
}
#blocBackEnd:hover h3 {
  text-decoration: underline;
}

#blocFrontEnd {
  border: 1px solid;
  cursor: pointer;
  color: var(--noir);
  transition: 0.3s;
  background-color: var(--blanc);
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  width: 500px;
  height: 50%;
}
#blocFrontEnd #iconesFrontEnd,
#blocFrontEnd #texteFrontEnd {
  display: none;
}
#blocFrontEnd:hover {
  background-color: var(--noir);
  color: var(--blanc);
}
#blocFrontEnd:hover #iconesFrontEnd,
#blocFrontEnd:hover #texteFrontEnd {
  display: block;
  transition: 0.3s;
}
#blocFrontEnd:hover #iconesFrontEnd i {
  font-size: 25px;
  padding-bottom: 5px;
}
#blocFrontEnd:hover h3 {
  text-decoration: underline;
}

#blocDesign_outils {
  height: 50%;
}

#blocDesign {
  border: 1px solid;
  cursor: pointer;
  color: var(--noir);
  transition: 0.3s;
  background-color: var(--blanc);
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  height: 100%;
  width: 250px;
}
#blocDesign #iconesDesign,
#blocDesign #texteDesign {
  display: none;
}
#blocDesign:hover {
  color: var(--blanc);
  background-color: var(--noir);
}
#blocDesign:hover #iconesDesign,
#blocDesign:hover #texteDesign {
  display: flex;
  transition: 0.3s;
}
#blocDesign:hover #iconesDesign {
  position: relative;
  top: -44px;
}
#blocDesign:hover #iconesDesign i {
  font-size: 25px;
  padding-bottom: 5px;
}
#blocDesign:hover h3 {
  text-decoration: underline;
}

#blocOutils {
  border: 1px solid;
  cursor: pointer;
  color: var(--noir);
  transition: 0.3s;
  background-color: var(--blanc);
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  height: 100%;
  width: 250px;
}
#blocOutils #iconesOutils,
#blocOutils #texteOutils {
  display: none;
}
#blocOutils:hover {
  background-color: var(--noir);
  color: var(--blanc);
}
#blocOutils:hover #iconesOutils,
#blocOutils:hover #texteOutils {
  display: flex;
  transition: 0.3s;
}
#blocOutils:hover #iconesOutils {
  position: relative;
  top: -20px;
}
#blocOutils:hover #iconesOutils i {
  font-size: 25px;
  padding-bottom: 5px;
}
#blocOutils:hover h3 {
  text-decoration: underline;
}

.image-contact-portfolio-artistique {
  width: 100%;
}

/* Flèche vers Portfolio Web */
.texte-fleche-competences-portfolioWeb {
  width: 130px;
  position: relative;
  top: 22px;
}

/* #################################### PORTFOLIO WEBDEV #################################### */
#portfolioWebDev {
  background-color: black;
  color: #e2e2e2;
}

/* Flèche retour à propos */
#divFleche-retour-portfolio-aPropos .texte-fleche-retour-portfolio {
  width: 100px;
  position: absolute;
  top: 300vh;
}
#divFleche-retour-portfolio-aPropos .fleche-retour-portfolio {
  position: absolute;
  top: 305vh;
}
#divFleche-retour-portfolio-aPropos .blanc {
  color: var(--blanc);
}

/* Menu Portfolio */
#menuPortfolio {
  border: 1px solid var(--blanc);
  height: 90vh;
  width: 290px;
  margin-left: 50px;
}
#menuPortfolio #caseVide {
  height: 60px;
}
#menuPortfolio button {
  border: 1px solid var(--blanc);
  color: var(--blanc);
  background-color: inherit;
  text-align: left;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}
#menuPortfolio button:hover {
  background-color: var(--blanc);
  color: var(--noir);
}
#menuPortfolio #html:hover.html {
  background-color: var(--blanc);
}
#menuPortfolio #imageMenuPortfolio {
  width: 100%;
}

.selection {
  display: block;
  background-color: var(--rose);
  color: var(--noir);
}

/* BLOC Portfolio */
#grandBlocPortfolio {
  margin: auto;
}
#grandBlocPortfolio h1 {
  text-align: left;
}
#grandBlocPortfolio #blocPortfolio {
  /* border: 1px solid var(--blanc); */
  width: 100%;
  height: 60vh;
}
#grandBlocPortfolio #blocPortfolio h2 {
  font-size: 16px;
}
#grandBlocPortfolio #blocPortfolio .border {
  border: 1px solid var(--blanc);
}
#grandBlocPortfolio #blocPortfolio .blocHomeSafe {
  height: 50%;
  width: 300px;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
#grandBlocPortfolio #blocPortfolio .blocHackaton {
  height: 60%;
  width: 300px;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
#grandBlocPortfolio #blocPortfolio .blocGithub {
  height: 40%;
  width: 300px;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
#grandBlocPortfolio #blocPortfolio .blocProjetFinal {
  width: 250px;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
/*# sourceMappingURL=style.css.map *//*# sourceMappingURL=style.css.map */